body{
    background: #492bda;
    margin: 0;
    padding: 0;
   
}

#list{
    /* background: white; */
    /* margin-top: 10%; */
    /* width: 400px; */
    height: 400px;
    overflow: auto;
    margin: 30px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 10px 40px 0 rgba(47, 47, 47.1);
}

/* .main{
    margin-top: 10%;
} */

li{
    /* text-align: center; */
    /* height: 80px; */
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid rgb(206, 190, 190);
    /* background-color: pink; */
}

li:hover{
    background: #ccc;
    /* color: black;
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 30%;
    display: inline-block;
    */
}